<div class="position-sticky pt-3">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_admin_espacio_index')}}">
                <span data-feather="box"></span>
                Espacios
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_admin_categoria_index')}}">
                <span data-feather="aperture"></span>
                Categorías
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_admin_entrada_index')}}">
                <span data-feather="file"></span>
                Entradas
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_admin_usuario_index')}}">
                <span data-feather="users"></span>
                Usuarios
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_admin_comentario_index')}}">
                <span data-feather="smile"></span>
                Comentarios
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_admin_etiqueta_index')}}">
                <span data-feather="tag"></span>
                Etiquetas
            </a>
        </li>
    </ul>